In [1]:
import json
from oandapyV20 import API
import oandapyV20.endpoints.instruments as instruments
import pandas as pd

with open('demo_account.json') as f:
    account_keys = json.load(f)

account_keys.keys()

dict_keys(['token', 'account'])

In [2]:
api_key = account_keys['token']
api = API(access_token=api_key, environment="practice")

In [3]:
instrument = "EUR_USD"
params = {
    "count": 5000,  # Number of data points, maximum is 5000
    "granularity": "H1"  # Time interval, e.g., H1 for hourly data
}

historical_data = instruments.InstrumentsCandles(instrument=instrument, params=params)
d_data = api.request(historical_data)

In [5]:
def _flatten_bar_dict(d_bar, price='mid'):
    d_bar = d_bar.copy()
    d_ohlc = d_bar.pop(price)
    return {**d_bar, **d_ohlc}

df_data = pd.DataFrame([_flatten_bar_dict(d_bar) for d_bar in d_data['candles']])
df_data['time'] = pd.to_datetime(df_data['time'])
df_data = df_data[['time', 'o', 'h', 'l', 'c', 'volume', 'complete']]

df_data

,time,o,h,l,c,volume,complete
0,2022-05-30 12:00:00+00:00,1.07668,1.07711,1.07483,1.07526,5818,True
1,2022-05-30 13:00:00+00:00,1.07526,1.07718,1.07506,1.07713,4106,True
2,2022-05-30 14:00:00+00:00,1.07712,1.07824,1.07662,1.07813,6109,True
3,2022-05-30 15:00:00+00:00,1.07812,1.07838,1.07752,1.07796,4435,True
4,2022-05-30 16:00:00+00:00,1.07796,1.07866,1.07781,1.07864,2736,True
...,...,...,...,...,...,...,...
4995,2023-03-17 19:00:00+00:00,1.06808,1.06828,1.06608,1.06614,5103,True
4996,2023-03-17 20:00:00+00:00,1.06614,1.06670,1.06586,1.06656,2146,True
4997,2023-03-19 21:00:00+00:00,1.06890,1.06890,1.06832,1.06852,221,True
4998,2023-03-19 22:00:00+00:00,1.06852,1.06892,1.06662,1.06703,4136,True
4999,2023-03-19 23:00:00+00:00,1.06703,1.06828,1.06679,1.06804,3070,False